@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h2>Feel free to contact us</h2>
</div>

<address>
    <strong>Physical Address: </strong> <br />
    Southern African Computer Lecturer’s Association (SACLA) <br/>
    School of Computer Science and Information Systems <br />
    North-West University <br />
    11 Hoffman Street <br />
    Potchefstroom <br />
    2531
</address>

<address>
    <strong>Email:</strong> <br />  <a href="mailto:Support@example.com">Support@example.com</a><br /><br />
    <strong>Contact no:</strong> <br /> <p>0658735519</p>
</address>