
@{
    ViewBag.Title = "News";
}

<div class="jumbotron">
    <h2>News</h2>
</div>

<div>
    <div>
        <strong>SACLA Executive Committee</strong> <br />
        <ul>
            <li>SACLA President: Andre Calitz (NMU)</li>
            <li>SACLA Secretary Linda Marshall (UP)</li>
            <li>SACLA Treasurer: Bobby Tait (UNISA)</li>
            <li>SACLA 2019 Conference Chair: Mac van der Merwe (UNISA)</li>
            <li>SACLA 2020 Conference Chair: Karen Bradshaw / Ingrid Siebörger (RU)</li>
            <li>SACLA 2021 Conference Chair: Prof Marijke Coetzee / Prof Wai Sze Leung (UJ)</li>
        </ul>
    </div>
    <hr />
    <div>
        <strong>SACLA Annual Publications</strong> <br />
        <ul>
            <li>
                Springer Journal publication: Communications in Computer and Information Science (CCIS Vol. 730), (Prof Stefan Gruner – SACLA journal proceedings chair).  
                Selected top papers presented at SACLA published in the journal.
            </li>
            <li>
                SACLA Conference proceedings: Selected papers that are not included in the journal publication are published in the conference proceedings.
            </li>
        </ul>
    </div>
</div>